* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.3rem;
}
h2 {
  margin: 10px;
  text-align: center;
  font-size: 3em;
}

form {
  margin: 0 auto;
  text-align: center;
}

#verse-section div {
  border: 3px solid black;
}

div {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.droppable {
  width: 20%;
  text-align: center;
  background-color: lightcoral;
  transition: 1s;
  margin-top: 50px;
}

.verse-section {
  /* background-color: rgb(215, 230, 230); */
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.f-grid {
  flex-wrap: wrap;
}

.check,
.reset {
  display: block;
  font-size: 2em;
  border-width: 2.5px;
  padding: 5px 20px;
}

.check {
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 2px 2px;
}
.reset {
  background-color: lightsalmon;
  border-radius: 20px;
  box-shadow: 2px 2px;
}

.not-active {
  display: none;
}
/* general */
.center {
  text-align: center;
}
